:root {
	--clr-dark: #232426;
	--clr-emphasis: hsl(3, 50%, 53%);
	--clr-alt-emph: color-mix(in srgb, rgb(234, 73, 73) 30%, rgb(89, 150, 242) 70%);
	--clr-main: color(display-p3 30 20 20 / 10);
	--clr-sub: rgb(230, 241, 247);
	--clr-normal: lightgrey;
}

* {
	scroll-behavior: smooth;
	color: var(--clr-normal, grey);
	font-family: "Roboto Slab", serif;
	
}

body {
	background-color: var(--clr-dark, black);
	margin: 5%;
	border-style: solid;
	border-color: var(--clr-sub);
	border-width: 2px;
	border-radius: 20px;
	padding: 5% 10% 5% 10%;
}

section {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}




#title {
	color: var(--clr-main, white);
	margin: 0 0 0 0;
	text-align: center;
	text-decoration: underline solid 2px;
}

#meeting-topic {
	color: var(--clr-emphasis, red);
	text-align: center;
}

.section-title {
	color: var(--clr-sub, white)
}

a, em {
	color: var(--clr-alt-emph, purple)
}

strong {
	color: var(--clr-emphasis)
}

section li {
	margin: 0.5lh;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em;
	padding-bottom: 0.5em;
}

nav a {
	padding: 0.08in;
	border: var(--clr-sub) solid;
	margin: 0;
	border-radius: 1lh;
}

nav a:hover {
	border-color: var(--clr-emphasis);
	color: var(--clr-emphasis);
}

nav a:active {
	background-color: var(--clr-emphasis);
	color: var(--clr-dark);
}

a {
	text-decoration: none;
	transition: color 0.3s ease;
	transition: border-color 0.3s ease;
}

.meeting-pics {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 1em;
	margin-bottom: 2em;
}

.meeting-pics > img, .meeting-pics > video {
	height: auto;
	width: 100%;
}

#media {
	margin-bottom: 1em;
}

details {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: large;
}