:root {
	--clr-dark: #232426;
	--clr-emphasis: hsl(3, 50%, 53%);
	--clr-alt-emph: color-mix(in srgb, rgb(234, 73, 73) 30%, rgb(89, 150, 242) 70%);
	--clr-main: color(display-p3 30 20 20 / 10);
	--clr-sub: rgb(230, 241, 247);
	--clr-normal: lightgrey;
}

body {
	background-color: var(--clr-dark, black);
}


* {
	color: var(--clr-normal, grey);
}

#title {
	color: var(--clr-main, white)
}

.section-title {
	color: var(--clr-sub, white)
}

#meeting-topic {
	color: var(--clr-emphasis, red)
}

a {
	color: var(--clr-alt-emph, purple)
}

strong {
	color: var(--clr-emphasis)
}

em {
	color: var(--clr-alt-emph)
}